RewriteEngine on

# Si un directorio or  fichero existe, usalo directamente
                            
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
                            
# De lo contrario usa index.php
RewriteRule ^(.*)$ index.php [QSA,L]
                            
#RewriteRule . index.php

#RewriteRule ^(.*)$ yiiBaseAdvanced/frontend/web/$1 [L]

#RewriteRule ^(.*)$ web/$1 [L]
#RewriteRule ^(.*)$ $1 [L]